In [1]:
import pandas as pd
import timeseries_descs as d

In [2]:
# TODO make sure there's more than 1 time point
# TODO ValueA was at a peak in 2004, at 8
# incorporate units

In [3]:
ts = pd.read_csv("timeseries_short.csv")

In [4]:
ts

   Year  ValueA  ValueB
0  2000       3     260
1  2001       4     270
2  2003       7     290
3  2004       8     210

In [5]:
x = "Year"
y = "ValueA"
print(d.describe_overarching_change(x,y,ts))
print(d.describe_interval_changes(x,y,ts))
print(d.describe_max_min(x,y,ts))

ValueA increased from 3 in 2000 to 8 in 2004.
Within this year range, we were able to capture data at 4 years (2000, 2001, 2003, and 2004), forming 3 intervals. ValueA increased in all of these recorded intervals, showing the greatest average increase in ValueA per year of 1.5 in 2001-2003.
ValueA was at its highest in 2004 at 8. ValueA was at its lowest in 2000 at 3.

In [6]:
x = "Year"
y2 = "ValueB"
print(d.describe_overarching_change(x,y2,ts))
print(d.describe_interval_changes(x,y2,ts))
print(d.describe_max_min(x,y2,ts))

ValueB decreased from 260 in 2000 to 210 in 2004.
Within this year range, we were able to capture data at 4 years (2000, 2001, 2003, and 2004), forming 3 intervals. ValueB increased in 2 of these recorded intervals, showing the greatest average increase in ValueB per year of 10.0 in 2000-2001 and 2001-2003. ValueB decreased in 1 of these recorded intervals, showing the greatest average decrease in ValueB per year of -80.0 in 2003-2004.
ValueB was at its highest in 2003 at 290. ValueB was at its lowest in 2004 at 210.

In [7]:
ts = pd.read_csv("timeseries_long.csv")

In [8]:
x = "Year"
y = "ValueA"
print(d.describe_overarching_change(x,y,ts))
print(d.describe_interval_changes(x,y,ts))
print(d.describe_max_min(x,y,ts))

ValueA increased from 3 in 2000 to 7 in 2007.
Within this year range, we were able to capture data at 7 years (2000, 2001, 2003, 2004, 2005, 2006, and 2007), forming 6 intervals. ValueA increased in 5 of these recorded intervals, showing the greatest average increase in ValueA per year of 2.0 in 2004-2005 and 2006-2007. ValueA decreased in 1 of these recorded intervals, showing the greatest average decrease in ValueA per year of -5.0 in 2005-2006.
ValueA was at its highest in 2005 at 10. ValueA was at its lowest in 2000 at 3.

In [9]:
x = "Year"
y2 = "ValueB"
print(d.describe_overarching_change(x,y2,ts))
print(d.describe_interval_changes(x,y2,ts))
print(d.describe_max_min(x,y2,ts))

ValueB increased from 260 in 2000 to 300 in 2007.
Within this year range, we were able to capture data at 7 years (2000, 2001, 2003, 2004, 2005, 2006, and 2007), forming 6 intervals. ValueB increased in 4 of these recorded intervals, showing the greatest average increase in ValueB per year of 109.0 in 2006-2007. ValueB decreased in 2 of these recorded intervals, showing the greatest average decrease in ValueB per year of -80.0 in 2003-2004.
ValueB was at its highest in 2007 at 300. ValueB was at its lowest in 2005 at 170.